
  
  .animation-wrapper {
    width: 10%;
    padding-bottom: 10%;
    height: 10px;
  }
  
  .sphere-animation {
    position: absolute;
    top: 10%;
    left: 10%;
    width: 180px;
    height: 180px;
    margin: -290px 0 0 -290px;
  }
  
  .sphere path {
    fill: url(#sphereGradient);
    stroke-width: 1px;
    stroke: rgba(80,80,80,.35);
    backface-visibility: hidden;
  }
  
  @media (min-width: 500px) {
    .sphere path {
      stroke-width: .4px;
    }
  }

/*  */
